{% extends 'base.html' %}
{% block head_files %}
	<script type="text/javascript">
		var shareFin = {{ fin_data|tojson }}
	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
{% endblock head_files %}
{% block sidebar_content %}
	<li class="nav-item">
        <a class="nav-link" href="/shares/{{ name }}">
            <span data-feather="Stock related news"></span>
            {{ name }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/shares/{{ name }}/news">
            <span data-feather="Stock related news"></span>
            News
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/shares/{{ name }}/financials">
            <span data-feather="bar-chart-2"></span>
            Financials
            </a>
    </li>
{% endblock sidebar_content %}
{% block content %}
<div class="row">
	<div class="col-md-3">
		<h3>{{ name }} Financials</h3>
	</div>
</div>
<div class="row">
    <div class="col-md-4" id="share-revenue-box">
        <canvas id="share-revenue-chart"></canvas>
    </div>
    <div class="col-md-4" id="share-costrev-box">
        <canvas id="share-costrev-chart"></canvas>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/share_fins.js') }}"></script>
{% endblock content %}
