{% extends 'base.html' %}
{% block head_files %}
    <script type="text/javascript">
        var shareData = {{ daily_data|tojson }};
        var shareFin = {{ fin_data|tojson }}
    </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
{% endblock head_files %}
{% block content %}
    <div class="row">
        <div class="col-md-12" id="share-price-box">
            <canvas id="share-price-chart"></canvas>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4" id="share-revenue-box">
            <canvas id="share-revenue-chart"></canvas>
        </div>
        <div class="col-md-4" id="share-costrev-box">
            <canvas id="share-costrev-chart"></canvas>
        </div>
    </div>
     <div class="row">
        
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/share_chart.js') }}"></script>
{% endblock content %}