body {
    background-color: #464646;
}
.share_card {
    margin-top: 20px;
}
.home_card {
    background-color: #333;
    border-color: #333;
}
.totals {
    color: #ffffff;
}
.share_form_card,  .crypto_form_card {
    background-color: #333;
    padding-bottom: 10px;
    margin-top: 20px;
}
.share_data_table {
  background: #2b2b2b;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
  overflow-x:auto;
}
.share_data_table tbody tr th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: large;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
.share_data_table tbody tr td {
  color: #fff;
  font-size: medium;
  font-weight: 400;
  padding: 0.65em 1em;
}

@media screen and (max-width: 1080px) {
    .share_data_table{
        max-width: inherit;
    }
    .share_data_table tbody tr th{
        font-size: medium;
        text-align: center;
    }
    .share_data_table tbody tr td{
        font-size: small;
    }
}

#chart-performance-day {
    background-color: #333;
}
#gains_box {
    background-color: #333;
    padding: 0;
}
#gains_box > table {
    font-size: small;
    border-color: white;
    color: white;
    width: 100%;
}
#gas_row {
    color: #17B121;
}
#sp_row{
    color: #2969CE;
}
#chart-performance-day > svg > g:nth-child(1) > g.axis {
    fill: white;
}
.dc-legend{
    fill:white;
}
.y-axis-label{
    fill:white;
}
#time-in-days {
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #ffffff;
    font-size: 48px;
}
#time-in-text {
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: #ffffff;
}
#time_in_box{
    background-color: #333;
    padding-left: 0;
    margin-left: 15px;
}

